.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  border: 1px solid #e3e3e3;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
}

.team-img-wrapper {
  aspect-ratio: 1 / 1;

  .team-img {
    position: absolute;
    right: 0;
    top: 50%;
    right: 0%;
    transform: translate(-0%, -50%);
  }
  .team-img-decor {
    position: absolute;
    right: 0;
    bottom: 0%;
    right: 0%;
    transform: translate(-0%, 25%);
  }
  .detail-card {
    top: 50%;
    left: 0%;
    transform: translate(-0%, -50%);
    position: absolute;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    width: 17.875rem;
    height: 24rem;
    gap: 16px;
    isolation: isolate;
    background: #21409c;
    background-image: url(../../assets/icons/background_spirals.svg);
    background-repeat: no-repeat;
    background-position: bottom left;

    img {
      transition: transform 0.3s ease;
    }

    a {
      &:hover {
        .team-img-arrow {
          transform: rotate(45deg);
        }
        .social-links {
          transform: scale(1.2);
        }
      }
    }

    h5 {
      font-family: "Inter";
      font-weight: 700 !important;
    }

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.img-block {
  max-height: 32.25rem;
  max-width: 32.25rem;
}

/* Target screens between 768px and 992px */
@media (min-width: 768px) and (max-width: 992px) {
  .team-img-wrapper {
    margin-bottom: 3rem;
    .team-img {
      transform: translate(-20%, -50%) !important;
    }
    .team-img-decor {
      position: absolute;
      transform: translate(-30%, 15%) !important;
    }
    .detail-card {
      transform: translate(20%, -50%) !important;
    }
  }
}
/* Target screens between 768px and 992px */
@media (min-width: 992px) and (max-width: 1200px) {
  .team-img-wrapper {
    margin-bottom: 3rem;
    .team-img {
      transform: translate(-0%, -50%) !important;
    }
    .team-img-decor {
      position: absolute;
      transform: translate(0%, -25%) !important;
    }
    .detail-card {
      transform: translate(0%, -50%) !important;
    }
  }
}

/* Target screens 1400px and above */
@media (min-width: 1400px) {
  .team-img-wrapper {
    .team-img {
      transform: translate(-10%, -50%) !important;
    }
    .team-img-decor {
      position: absolute;
      transform: translate(-25%, 25%) !important;
    }
    .detail-card {
      transform: translate(10%, -50%) !important;
    }
  }
}

@media (max-width: 576px) {
  .team-img-wrapper {
    aspect-ratio: unset !important;

    .team-img {
      position: relative !important;
      transform: unset !important;
      width: 100%;
    }
    .team-img-decor {
      transform: translate(0%, -175%) !important;
    }
    .detail-card {
      transform: unset !important;
      position: relative !important;
      padding: 24px;
      width: 100%;
      height: max-content;
      gap: 16px;
    }
  }
  .img-block {
    max-height: unset !important;
    max-width: unset !important;
  }
}

